* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background-color: whitesmoke;

}

.todo {
    width: 100%;
    max-width: 540px;
    background-color: white;
    margin: 50px auto 20px;
    padding: 40px 30px 31px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.todo h2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.todo h2 img {
    width: 30px;
    margin-left: 5px;
    margin-bottom: 4px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: bolder;
}

button {
    border: none;
    outline: none;
    padding: 16px 25px;
    font-weight: bolder;
    background-color: #00cc00;
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: bolder;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(assets/uncheck.png);
    background-size: cover;
    background-position: center;
    top: 7px;
    left: 8px;

}

ul li.checked {
    color: #555;
    text-decoration: line-through;

}

ul li.checked::before {
    background-image: url(assets/checked.png);
    height: 28px;
    width: 28px;
}

ul li span {
    position: absolute;
    right: 10px;
    top: 8px;
    height: 25px;
    width: 25px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    color: red;


}

ul li span:hover {
    background-color: #e6e6e6;
}